@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
/* ----Variables---- */
:root {

    /* Colores primarios */
    --color-primary: #458588; /* Blue */
    --color-primary-light: #83a598; /* Blue claro */
  
    /* Colores secundarios */
    --color-secondary: #d79921; /* Amarillo */
    --color-secondary-light: #fabd2f; /* Amarillo claro */
  
    /* Colores de texto */
    --color-text: #282828; /* Beige */
    --color-text-light: #ebdbb2; /* Beige claro */
    --color-text-light-2: #a89984; /* Beige oscuro */
  
    /* Colores de fondo */
    --color-background: #282828; /* Gris oscuro */
    --color-background-light: #fbf1c7; /* Beige claro */
    --color-background-light-2: #a89984; /* Beige oscuro */
    --color-background-transparent: rgba(200, 180, 140, 0.1);

    /* Tipografía */
    --font-family: 'Rubik', sans-serif;
    --font-family-2: 'Rufina', sans-serif;
    --font-size: 16px;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
  
    /* Espaciado */
    --spacing-small: 8px;
    --spacing-medium: 16px;
    --spacing-large: 24px;
  
    /* Caja de sombra */
    --shadow: 3px 0 5px #aaa;
}

body{
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
}