@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

:root {
    /* Paleta colores */
    --color-primary: #e74423;
    /* Color primario */
    --color-secondary: #f1f0de;
    /* Color secundario */
    --color-text-primary: #ffff;
    /* Color de texto principal */
    --color-text-secondary: #e74423;
    /* Color de texto principal */
    --color-background-secondary: #e74423;
    /* Color de texto principal */
    --color-background: #f1f0de;
    /* Color de fondo */
    /* Tipografia */
    --normal: 18px;
    /* Espaciado */
    --space: 10px;
    /* Box shadow */
    --box: 0px 0.625vh 1.25vh rgba(0, 0, 0, 0.1);
}

html,
body {
    padding: 0px;
    margin: 0px;
    font-size: var(--normal);
    font-family: 'Rubik', sans-serif;
    background-color: var(--color-background);
}

.bg-footer {
  background-color: var(--color-background-secondary);
}

.logo {
  width: 70px;
}

.bg-primary-custom {
  background-color: var(--color-primary);
}

.bg-secondary-custom {
  background-color: var(--color-secondary);
}

.text-primary-custom {
  color: var(--color-text-primary);
}

.text-secondary-custom {
  color: var(--color-text-secondary);
}

footer img{
  width: 100px;
}

.border-3 {
  border: 3px solid;
}


/* Buttons customs */
.btn{
    border: 2px solid #fff;
    border-radius: 1.5rem;
    padding: 0.6rem 0;
    width: 160px;
}
.btn-primary-custom{
    background-color: var(--color-primary);
    color: #fff;
    padding: 0.55rem 0;
    width: 140px;
}
.btn-primary-custom:hover{
    color: var(--color-primary);
    background: #fff;
    border-color: var(--green);
}

/* carrousel */
.rounded-3 {
  border-radius: 30px !important;
}

/* header */
header{
  min-height: 100vh;
}
.btn-header:hover{
  background-color: #fff;
  color: var(--color-primary)!important;
}
.header-img img{
  width: 500px;
}


/* about us */
#about-us img {
  filter: drop-shadow(12px 12px 7px rgba(70, 69, 69, 0.7));
}


<<<<<<< TASK-012/Create_contact_page

.link-dark:hover{
  color: whitesmoke;
}

textarea{
  resize: none;
}

/* Wsp Float Icon */
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
  transition: transform 0.3s;
}
.float:hover{
  transform: scale(1.2);
  color: white;
}
.my-float{
	margin-top:16px;
}
