<!DOCTYPE html>
<title>{% block title %}{% endblock %} - Login template</title>
<link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='animations.css') }}">
<!-- Material Design Lite -->
<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<!-- Material Design icon font -->

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<section class="nav-bar">
<!-- Left aligned menu below button -->
<button id="demo-menu-lower-left"
        class="mdl-button mdl-js-button mdl-button--icon">
  <i class="material-icons">more_vert</i>
</button>

<ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
    for="demo-menu-lower-left">
  <li class="mdl-menu__item">Inicio</li>
  <li class="mdl-menu__item mdl-menu__item--full-bleed-divider">Tienda</li>
  <li class="mdl-menu__item">Contacto</li>
  <li class="mdl-menu__item">Loginnn</li>
</ul>
<h1>DC PINTURERIA</h1>
</section>
<section class="content">
    {% block content %}{% endblock %}
</section>

