{% extends "base.html" %}

{% block title %}Not found{% endblock %}

{% block header %}
<div class="page-wrap d-flex flex-row align-items-center text-white">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block animate__animated animate__backInLeft">404</span>
                <div class="mb-4 lead animate__animated animate__backInRight">No se ha encontrado la página que busca.</div>
                <a href="{{ url_for('index') }}" class = "btn btn-custom fw-bold text-white mt-4 btn-header animate__animated animate__backInUp">Volver al inicio</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
