{% extends 'base.html' %}

{% block title %}Productos{% endblock %}

{% block header %}

<div class="container-fluid bg-trasparent my-4 p-3" style="position: relative">
    <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
      {% for product in products%}
      <div class="col hp">
        <div class="card h-100 shadow-sm">
            <img src="{{ url_for('static', filename=product.image) }}" class="card-img-top" alt="product.title" />
          </a>

          <div class="card-body">
            <div class="clearfix mb-3">
              <span class="float-start badge rounded-pill bg-success"> ${{product.price}} </span>
  
              <span class="float-end small text-muted text-uppercase aff-link">                        
                <div class="col-md-12"><input type="number" name="quantity" class="form-control" min="1" max="100" value="1" placeholder="Quantity"></div>
            </span>
            </div>
            <h5 class="card-title">
              {{product.name}}
            </h5>

            <h6 class="card-text">
              {{product.description}}
            </h6>

            <div class="d-grid gap-2 my-4">
  
              <a href="{{url_for("cart.add_to_cart",product = product)}}" class="btn btn-warning bold-btn">Agregar</a>
  
            </div>

          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  

  {%endblock%}